apiVersion: v1
kind: Service
metadata:
  name: prediction-api
  namespace: cryptopred
  labels:
    app: prediction-api
spec:
  selector:
    app: prediction-api
  ports:
    - name: http
      port: 80
      targetPort: 3000
  type: ClusterIP
